
@{
    ViewBag.Title = "Event_yoga";
}

<link rel="stylesheet" href="../style/event.css">

<main class="container mt-4">
    <!-- <div class="mb-1 singbtntop">
        <button type="button" class="btn btn-outline-info">我要報名</button>
    </div> -->
    <img src="../image/event/yoga_signup.png" alt="">
    <div class="bkg">
        <h3 class="font-weight-bold">肩頸背深度延展 瑜珈輪初學課程</h3>
        <h5 class="font-weight-bold"> <i class="fa fa-clock-o"></i> 活動時間</h5>
        <div class="ml-4">2020-08-10(一) - 2020-10-12(一)</div>
        <div class="ml-4 mb-3">每周一晚間 19:00-20:00 </div>
        <h5 class="font-weight-bold"><i class="fa fa-map-marker"></i> 活動地點 </h5>
        <div class="ml-4  mb-3">瑜珈教室</div>
        <h5 class="font-weight-bold"><i class="fa fa-paperclip"></i> 活動內容 </h5>
        <div class="ml-4  mb-3">
            瑜珈輪穩固的中空圓形支柱設計，增加瑜珈練習時的靈活度，建立力量，開創更多伸展空間，為後彎與平衡帶來穩定信心，同時感到安全與放鬆，幫助舒緩緊繃僵硬的肌肉，鍛鍊核心與平衡，適合瑜珈初學者或想更進一步放鬆身體的學員。
        </div>
        <h5 class="font-weight-bold"><i class="fa fa-dollar-sign"></i> 報名費用 </h5>
        <div class="ml-4  mb-3"> $1500 / 10堂</div>
        <h5 class="font-weight-bold"><i class="fa fa-exclamation"></i> 注意事項</h5>
        <div class="ml-4  mb-3">請自備瑜珈墊、水及毛巾，請假恕不退費</div>

        <div class="eventsignup mt-5">
            <a id="signupbtn" href="Event_signup">
                <button type="button" class="btn btn-outline-info"> 我要報名</button>
            </a>
        </div>
    </div>

</main>

