
@{
    ViewBag.Title = "Event_signup";
}
<link rel="stylesheet" href="../style/event.css">

<main class="container mt-4 signup row">
    <div class="col-4">
        <img class="smimg mt-5" src="../image/event/yoga_signup.png" alt="">
        <div class="gray">
            <div style="font-weight: bold;">肩頸背深度延展 瑜珈輪初學課程 / 放鬆舒壓 <br> -Jade Yoga </div>
            <div> 2020-03-28(六) 10:00 ~ 2020-08-31(一) 00:00 (GMT+8)</div>
            <div> 台灣台北市大安區忠孝東路四段75-11號12 </div>
            <div> 訂單編號：2008030850386454977930 </div>

        </div>
    </div>

    <div class="col-7  mt-4 ml-4">
        <form action="#">
            <div class="ppls ml-3">
                <h4>-填寫參加人資訊-</h4>
                <h5 class=" mt-3">報名人數</h5>
                <select class="form-control_select mr-sm-2 txtStyle">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>

            <fieldset class="fieldset1 mt-4">
                <legend class="legend1">參加人1</legend>
                <div>
                    <label for="txtsigneraddress" class="mt-2">戶號<span style="color: red;">*</span></label>
                    <input id="txtsigneraddress" class="txtStyle" type="text" value="A305" readonly>
                </div>

                <div>
                    <label for="txtsignerName" class="mt-2">姓名</label>
                    <input id="txtsignerName" class="txtStyle" type="text" placeholder=" 請輸入姓名">
                </div>

                <div>
                    <label for="txtsignerPhone" class="mt-2">聯絡電話</label>
                    <input class="txtStyle" id="txtsignerPhone" type="text" placeholder=" 請輸入聯絡電話">
                </div>

                <div>
                    <label for="txtsigneremail" class="mt-2">電子郵件</label>
                    <input class="txtStyle" id="txtsigneremail" type="email" placeholder="請輸入E-MAIL">
                </div>


                <div class="mt-2">
                    <div for="" class="t1">性別 </div>
                    <label>
                        <input type="radio" name="gender" value="male"> 男　
                    </label>
                    <label>
                        <input type="radio" name="gender" value="female"> 女
                    </label>
                </div>
            </fieldset>


            <fieldset class="fieldset1 mt-4">
                <legend class="legend1">參加人2</legend>
                <div>
                    <label for="txtsigneraddress" class="mt-2">戶號<span style="color: red;">*</span></label>
                    <input id="txtsigneraddress" class="txtStyle" type="text" value="請輸入戶號">
                </div>

                <div>
                    <label for="txtsignerName" class="mt-2">姓名</label>
                    <input id="txtsignerName" class="txtStyle" type="text" placeholder=" 請輸入姓名">
                </div>

                <div>
                    <label for="txtsignerPhone" class="mt-2">聯絡電話</label>
                    <input class="txtStyle" id="txtsignerPhone" type="text" placeholder=" 請輸入聯絡電話">
                </div>

                <div>
                    <label for="txtsigneremail" class="mt-2">電子郵件</label>
                    <input class="txtStyle" id="txtsigneremail" type="email" placeholder="請輸入E-MAIL">
                </div>
                <div class="mt-2">
                    <div for="" class="t1">性別 </div>
                    <label>
                        <input type="radio" name="gender" value="male"> 男　
                    </label>
                    <label>
                        <input type="radio" name="gender" value="female"> 女
                    </label>
                </div>
            </fieldset>


            <div class="mt-2">
                <div for="" class="t1 paymethod">選擇付款方式 </div>
                <label>
                    <input type="radio" name="paymethod" value="cash" id="paybycash"> 現金　
                </label>
                <label>
                    <input type="radio" name="paymethod" value="creditcard" id="paybycreditcard"> 銀行轉帳
                </label>
                <div class="creditcardnote">
                    <div>匯款銀行：中華郵政</div>
                    <div for="">匯款帳號：0012345 6789012</div>
                    <div for="">最晚請於開課前三天(2020-09-20前)繳款完畢，並回覆匯款帳號後5碼</div>
                </div>
                <div class="cashnote">
                    <div>請於第一天上課日繳交全額費用</div>
                </div>
            </div>

            <div class="mb-4  totalprice">

                <h4>總金額：<span>$ 3,000</span></h4>
            </div>
            <hr>
            <div>
                <input type="checkbox"> 我已閱讀並同意eCO DAILY <a href="#">票券訂購暨使用須知</a>
                內容所有條款
            </div>
            <div class="signuporcancel row mt-4">
                <button type="button" id="btncancel" class="btn btn-outline-info_cancel col-5 mr-1">取消</button>
                <div id="btnyes" class="btn btn-outline-info_yes col-5 ml-1">
                    <a href="Event"><button type="button" class="btn white">確認報名</button></a>
                </div>


            </div>
        </form>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }

    $("#paybycash").click(function () {
        $(".cashnote").css("display", "block")
        $(".creditcardnote").css("display", "none")
    })
    $("#paybycreditcard").click(function () {
        $(".cashnote").css("display", "none")
        $(".creditcardnote").css("display", "block")
    })

    $("#btnyes").click(function () {
        alert("報名成功!");
    })
</script>

