
@{
    ViewBag.Title = "Event";
}
   @*<link rel="stylesheet" href="../style/event.css">*@

<main class="container mt-4">
    <div class="smalltitle" style="text-align: center;">
        <h2><b>｜　社區活動　｜</b></h2>
    </div>
    <div class="searchbar">
        <form class="form-inline my-2 my-lg-0 ">
            <div class="">
                <label>
                    <select class="form-control_select mr-sm-2">
                        <option value="allCategory">分類</option>
                        <option value="sport">運動</option>
                        <option value="lesson">課程 </option>
                        <option value="buytogether">團購</option>
                        <option value="gathering">聚會</option>
                        <option value="buytogether">招募</option>
                        <option value="other">其他</option>
                    </select>
                </label>
            </div>
            <input class="form-control_1 mr-sm-2" type="search" placeholder="請輸入關鍵字" aria-label="Search">
            <span> 日期：</span>
            <input class="form-control_date mr-sm-2" id="datepicker" type="date" placeholder="請選擇日期"
                   aria-label="Search"> <span> 到 &nbsp;</span>
            <input class="form-control_date mr-sm-2" id="datepicker" type="date" placeholder="請選擇日期"
                   aria-label="Search">
            <button type="button" class="btn btn-info"> <i class="fa fa-search"></i> 搜尋</button>
        </form>
    </div>
    <div class="row mb-5 ml-2">
        <div class="orderby mt-4">
            排序方式：
            <label>
                <select class="form-control_select mr-sm-2" style="width: 120px">
                    <option value="sport">由近到遠</option>
                    <option value="lesson">由遠到近</option>
                </select>
            </label>
        </div>

        <div class="orderby mt-4">
            <label>
                <select class="form-control_select mr-sm-2">
                    <option value="allCategory">費用</option>
                    <option value="buytogether">免費</option>
                    <option value="gathering">付費</option>
                </select>
            </label>
        </div>

    </div>
    <div class="card-deck">
        <div class="card">
            <img src="~/image/event/volunteer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Event title </h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/image/event/yoga.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="~/image/event/bbq.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        

    </div>

</main>