

main {
    width: 900px;  
}



.searchbar{
    /* margin-left: 70px;
     */
    max-width: 900px;
    margin: auto;
}

d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.form-control_1 {
    display: block;
    width: 280px;
    /*height: calc(2.25rem + 2px);*/
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 600px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control_date{
    display: block;
    width: 168px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.eventbox{
    /* width: 360px;
    height: 360px; */
    padding: 0px;
    border: solid 1px black;
}

.eventdate{
    margin-left: 10px;
    font-size: 12px;
}

.card_body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem 1.25rem 0px 1.25rem;
}


.eventtitle {
    margin-left: 9px;
    font-size: 20px;
}

.eventtitle a {
    color:black;
}

.eventtitle a:hover{
    text-decoration:none
}

.link {
    color: black
}

.link:hover{
    text-decoration: none;
    color:black
}

.packdgelist{
    text-align: center;
    width:700px;
    height: 50px;
    margin-left:200px ;   
}

.packge{
    height: 300px;
    width: 1000px;
    border: 1px solid gray;
}

.pkg{
    padding-right: 20px;
    /* border-right: solid 1px gray; */
}

/* -------------------------- */

.cards {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 1000px;    
}


.eventcard {
    margin-right: 35px;
    margin: 0px 15px 25px 15px;
    /*transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);*/
    background-color: #fff;
    width: 30%;
    position: relative;
    border-radius: 10px !important;
    overflow: hidden;
    border: none !important;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

    .eventcard:hover {
        box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
        transform: scale(1.02, 1.02);
        /*transition: 0.35s;*/
    }

.card_info {
    z-index: 2;
    background-color: #fff;
    padding: 16px 24px 24px 24px;
}

.card_title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 微軟正黑體;
    font-weight: bold;
}

.card_by {
    font-size: 12px;
    font-family: 微軟正黑體;
    font-weight: 500;
    
}

.card_author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.eventcard:hover {
    opacity: 0.8;
}


.form-control_select{
    display: block;
    width: 100px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 600px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control_select:hover{
    cursor: pointer;
}

.followup{
    border: 1px orange solid;
    background-color: white;
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 6px;
    color: rgb(206, 136, 7);
}

    .followup:hover{
        cursor:pointer;
    }

    .followup_yes {
        border: 1px orange solid;
        background-color: orange;
        padding: 5px;
        font-weight: 400;
        font-size: 16px;
        border-radius: 5px;
        margin-bottom: 6px;
        color: white;
    }

.categoryhashtag {
    border-top: 1px solid gainsboro;
    font-size: 16px;
    font-weight: 400;
    color: gray;
    margin-bottom: 6px;
    padding-top:10px
}

.eventtime {
    font-family: 微軟正黑體;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #868686;
}

.eventsignup {
    width: 100px;
    margin: auto;
}

.bkg {
    background-color: ghostwhite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}


body {
    background-color: rgb(249, 249, 249);
}

.smimg {
    width: 350px;
    height: auto;
}

.signup {
    background-color: white;
    height: 100%;
}

.txtStyle {
    width: 500px;
    height: 35px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

fieldset {
    border: solid 1px rgb(220, 220, 220);
    border-radius: 3px;
    padding: 0px 20px 20px 20px;
    width: 540px;
}

.legend1 {
    font-size: 20px;
    width: auto;
}

.totalprice {
    text-align: right;
    margin-top: 20px;
    width: 520px;
}

.signuporcancel {
    text-align: right;
    max-width: 1000px;
    margin-bottom: 100px;
}

.btn-outline-info_yes {
    color: white;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

    .btn-outline-info_yes:hover {
        color: white;
        background-color: #3ebccf;
    }

.btn-outline-info_cancel {
    color: black;
    background-color: ghostwhite;
    border: rgb(173, 172, 172) 1px solid;
}

    .btn-outline-info_cancel:hover {
        background-color: white;
    }

.gray {
    color: gray;
    font-size: 14px;
}

.white,
.white:hover {
    color: white;
}

.creditcardnote {
    display: none;
}

.cashnote {
    display: none;
}

