
@{
    ViewBag.Title = "managementFee";
}



    <link rel="stylesheet" href="~/style/managementFee_confirm_B.css">
    <h2>管理費</h2>
        <main class="container">
            <form action=" ">
                <fieldset>
                    <legend>確認資料</legend>
                    <h3>戶號:<span id="confirmNum "> H1003</span></h3>
                    <h3>戶長:<span id="confirmName "> Marco</span></h3>
                    <h3>停車位:<span id="confirmPark "> 2</span>車位</h3>
                </fieldset>
            </form>
             @*暫定 需修改*@ 
            <div class="button ">
                <a href="managementFee.html ">資料正確</a>
                <button>資料錯誤</button>
            </div>
        </main>
